In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\digitech\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\digitech\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\digitech\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\digitech\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\digitech\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\digitech\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 26.0.1
[notice] To update, run: C:\Users\DIGITECH\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('sales_data.csv')

EDA

In [4]:
df.head()        # First 5 rows
df.shape         # Rows and columns
df.columns       # Column names
df.info()        # Data types
df.describe()    # Statistics

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         100 non-null    object
 1   Product      100 non-null    object
 2   Quantity     100 non-null    int64
 3   Price        100 non-null    int64
 4   Customer_ID  100 non-null    object
 5   Region       100 non-null    object
 6   Total_Sales  100 non-null    int64
dtypes: int64(3), object(4)
memory usage: 5.6+ KB

         Quantity         Price    Total_Sales
count  100.000000    100.000000     100.000000
mean     4.780000  25808.510000  123650.480000
std      2.588163  13917.630242  100161.085275
min      1.000000   1308.000000    6540.000000
25%      2.750000  14965.250000   39517.500000
50%      5.000000  24192.000000   97955.500000
75%      7.000000  38682.250000  175792.500000
max      9.000000  49930.000000  373932.000000

In [5]:
df.isnull().sum()
df.fillna(0, inplace=True)
df.drop_duplicates(inplace=True)

In [6]:
df['Total_Sales'].mean()
df['Total_Sales'].max()
df['Total_Sales'].min()

np.int64(6540)

In [7]:
# Remove duplicate rows
df.drop_duplicates(inplace=True)

print("\nData cleaned successfully!")

Data cleaned successfully!

In [9]:
# Total Revenue
total_revenue = df['Total_Sales'].sum()

# Average Sales
average_sales = df['Total_Sales'].mean()

# Highest Sale
highest_sale = df['Total_Sales'].max()

# Lowest Sale
lowest_sale = df['Total_Sales'].min()

# Best Selling Product
best_product = df.groupby('Product')['Quantity'].sum().idxmax()

In [10]:

print("\n========== SALES REPORT ==========")
print(f"Total Revenue: ₹{total_revenue:,.2f}")
print(f"Average Sale Value: ₹{average_sales:,.2f}")
print(f"Highest Sale: ₹{highest_sale:,.2f}")
print(f"Lowest Sale: ₹{lowest_sale:,.2f}")
print(f"Best Selling Product: {best_product}")
print("===================================")

========== SALES REPORT ==========
Total Revenue: ₹12,365,048.00
Average Sale Value: ₹123,650.48
Highest Sale: ₹373,932.00
Lowest Sale: ₹6,540.00
Best Selling Product: Laptop
===================================